<!doctype html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <title>Stripe example</title>
</head>
<body>
    <form action="/api/charge" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_FR1Lf9aiY6gaxl9xQRAW2yzT">
        </script>
    </form>
</body>
</html>
